{% extends 'base.html' %} 
{% load i18n %}
{% load allauth account %}
{% load allauth socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% load widget_tweaks %} 
{% block content %}
<section class="bg-gray-50 ">
	<div
		class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-[calc(100vh-5rem)] lg:py-0"
	>
		<div
			class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0  "
		>
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1
					class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl "
				>
					Inicia sesión
				</h1>
				<form class="space-y-4 md:space-y-6" action="{% url 'account_login' %}" method="POST">
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
                        <li class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                            <span class="font-medium">{{message}}</span>
                        </li>
						{% endfor %}
					</ul>
                	{% endif %}
					{{ form.non_field_errors }}
                    {% csrf_token %}
                    {% for field in form %}
                    <div>
                        {% if field.name != 'remember' %}
                            <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">{{ field.label }}</label>
                            {{ field|add_class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-purple-600 focus:border-purple-600 block w-full p-2.5" }}
                            {{ field.errors }}
                        {% endif %}
                    </div>
                    {% endfor %}
					<div class="flex items-center justify-between">
						<!-- <div class="flex items-start">
							<div class="flex items-center h-5">
								<input
									id="remember"
									aria-describedby="remember"
									type="checkbox"
									class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-purple-300    "
									required=""
								/>
							</div>
							<div class="ml-3 text-sm">
								<label for="remember" class="text-gray-500 "
									>Remember me</label
								>
							</div>
						</div> -->
						<a
							href="{% url 'account_reset_password' %}"
							class="text-sm font-medium text-purple-600 hover:underline "
							>¿Olvidó su contraseña?</a
						>
					</div>
					<button
						type="submit"
						class="w-full text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center   "
					>
						Iniciar sesión
					</button>
					<p class="text-sm font-light text-gray-500 ">
						Aun no tienes una cuenta?
						<a
							href="{{ signup_url }}"
							class="font-medium text-purple-600 hover:underline "
							>Registrarse</a
						>
					</p>
                    {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}" />
                    {% endif %}
				</form>
				{% if SOCIALACCOUNT_ENABLED %}
					{% include 'socialaccount/snippets/google.html' %}
				{% endif %}
			</div>
		</div>
	</div>
</section>

{% endblock content %}

