{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset Done" %}
{% endblock head_title %}
{% load widget_tweaks %} 
{% block content %}
<section class="bg-gray-50">
	<div
		class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-[calc(100vh-5rem)] lg:py-0"
	>
		<div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1
					class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
				>
					Reestablecer contraseña
				</h1>
                {% if messages %}
					<ul class="messages">
						{% for message in messages %}
                        <li class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                            <span class="font-medium">{{message}}</span>
                        </li>
						{% endfor %}
					</ul>
                {% endif %}
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <div>
                    Te hemos enviado un correo electrónico. Si no lo has recibido por favor revisa tu carpeta de spam. En caso contrario contacta con nosotros si no lo recibes en unos minutos.
                </div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
