{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% load widget_tweaks %} 
{% block content %}
<section class="bg-gray-50">
	<div
		class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-[calc(100vh-5rem)] lg:py-0"
	>
		<div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1
					class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
				>
					Reestablecer contraseña
				</h1>
                {% if messages %}
					<ul class="messages">
						{% for message in messages %}
                        <li class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                            <span class="font-medium">{{message}}</span>
                        </li>
						{% endfor %}
					</ul>
                {% endif %}
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <div>
                    ¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos un correo electrónico que le permitirá restablecerla.
                </div>
				<form class="space-y-4 md:space-y-6" action="{% url 'account_reset_password' %}" method="POST">
					{% csrf_token %}
					{% for field in form %}
					<div>
						<label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">{{ field.label }}</label>
						{% if field.errors %}
                        {{ field|add_class:"bg-gray-50 border border-red-300 text-gray-900 sm:text-sm rounded-lg focus:ring-red-600 focus:border-red-600 block w-full p-2.5" }}
                        {% for error in field.errors %}
                        <div class="text-red-700 mt-4 text-sm">{{ error }}</div>
                        {% endfor %}
						{% else %}
                        {{ field|add_class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" }}
						{% endif %}
                        {% if field.help_text %}
                        {{ field.help_text|safe }}
                        {% endif %}
					</div>
					{% endfor %}
					<button
						type="submit"
						class="w-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center"
					>
						Reestablecer contraseña
					</button>
					<p class="text-sm font-light text-gray-500">
						Si tiene alguna dificultad para restablecer su contraseña, por favor contáctenos.
					</p>
                    {% if redirect_field_value %}
                        <input type="hidden"
                            name="{{ redirect_field_name }}"
                            value="{{ redirect_field_value }}" />
                    {% endif %}
				</form>
			</div>
		</div>
	</div>
</section>
    {% comment %} {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
    </p>
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Reset My Password' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> {% endcomment %}
{% endblock content %}
